<%=console%>
<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

<section class="user-section">
  <h2>confirmed friends</h2>
    <ul class="posts">
    <%@user.friendships.each do |friendship|%>
       <li><%=friendship.friend.email%></li>
      <%end%>
    </ul>

</section>
